---
- name: My First playbook
  hosts: all 
  become: true
  become_method: sudo 
  user: centos
  tasks: 
  - name: Stop r1soft 
    systemd: 
      name: sbm-agent
      state: stopped 


  - name: Stop Filebeat 
    systemd: 
      name: filebeat
      state: stopped 


  - name: Stop NRPE
    systemd: 
      name: nrpe
      state: stopped 


  - name: Stop MariaDB 
    systemd: 
      name: mariadb
      state: stopped 